In [3]:
import pandas as pd
samsung = pd.read_excel('samsung.xlsx')
samsung

       CRI_YM      TAG 평일휴일 요일       시간대 성별      연령대  건수합계
0      201905     유아용품   평일  목  B.06-10시  F    A.2O대   291
1      202005  생활/사무용품   평일  월  D.14-18시  M    C.4O대  6225
2      201905     골프용품   휴일  일  F.22-02시  M    B.3O대    51
3      202105      화장품   휴일  일  D.14-18시  F    C.4O대  3564
4      202005     인테리어   평일  월  C.10-14시  F    D.5O대  1101
...       ...      ...  ... ..       ... ..      ...   ...
21552  201905       패션   평일  월  F.22-02시  M    C.4O대  2470
21553  202005     골프용품   평일  금  D.14-18시  F    C.4O대   107
21554  202105  스포츠의류용품   평일  화  E.18-22시  M    B.3O대   603
21555  202105     인테리어   평일  화  C.10-14시  F  E.60대이상   415
21556  201905     유아용품   평일  목  C.10-14시  M    C.4O대   580

[21557 rows x 8 columns]

In [6]:
samsung.groupby(['TAG','CRI_YM'],as_index=False).건수합계.sum()

        TAG  CRI_YM     건수합계
0        가전  201905   285046
1        가전  202005   401960
2        가전  202105   504626
3      골프용품  201905    15096
4      골프용품  202005    28243
5      골프용품  202105    32380
6   생활/사무용품  201905   759332
7   생활/사무용품  202005  1223749
8   생활/사무용품  202105  1449176
9        서적  201905   218550
10       서적  202005   259462
11       서적  202105   280362
12  스포츠의류용품  201905    97687
13  스포츠의류용품  202005   151036
14  스포츠의류용품  202105   162668
15      식료품  201905   642621
16      식료품  202005  1064161
17      식료품  202105  1441522
18     애완용품  201905    62621
19     애완용품  202005    98877
20     애완용품  202105   119223
21     유아용품  201905   158076
22     유아용품  202005   187190
23     유아용품  202105   207577
24     인테리어  201905   222600
25     인테리어  202005   385761
26     인테리어  202105   424541
27  차량정비_부품  201905    61011
28  차량정비_부품  202005    92512
29  차량정비_부품  202105   101590
30     취미용품  201905    81663
31     취미용품  202005   133832
32     취미용품  202105   155575
33       패션  201905  1218985
34       패션  202005  1615293
35       패션  202105  1789504
36      홈쇼핑  201905  1040916
37      홈쇼핑  202005  1299989
38      홈쇼핑  202105  1326300
39      화장품  201905   336232
40      화장품  202005   475860
41      화장품  202105   522447

In [10]:
samsung.groupby(['연령대','성별','TAG'],as_index=False).건수합계.sum().sort_values('건수합계',ascending=False)

         연령대 성별      TAG     건수합계
39     B.3O대  F       패션  1133770
67     C.4O대  F       패션  1008000
96     D.5O대  F      홈쇼핑   933986
68     C.4O대  F      홈쇼핑   930091
61     C.4O대  F      식료품   726873
..       ... ..      ...      ...
121  E.60대이상  F  차량정비_부품     2750
127  E.60대이상  M     골프용품     2318
113  E.60대이상  F     골프용품     1338
1      A.2O대  F     골프용품     1178
15     A.2O대  M     골프용품     1039

[140 rows x 4 columns]